{% extends 'base.html' %} 
{% load static %} 
{% load i18n %}

{% load crispy_forms_tags %}

{% block content %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: aliceblue;
}

.wrapper{
    padding: 30px 50px;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin: 10px auto;
    max-width: 600px;
}
h4{
    letter-spacing: -1px;
    font-weight: 400;
}
.img{
    width: 70px;
    height: 70px;
    border-radius: 6px;
    object-fit: cover;
}
#img-section p,#deactivate p{
    font-size: 12px;
    color: #777;
    margin-bottom: 10px;
    text-align: justify;
}
#img-section b,#img-section button,#deactivate b{
    font-size: 14px; 
}

label{
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    color: #777;
    padding-left: 3px;
}

.form-control{
    border-radius: 10px;
}

input[placeholder]{
    font-weight: 500;
}
.form-control:focus{
    box-shadow: none;
    border: 1.5px solid #0779e4;
}
select{
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    height: 40px;
    padding: 5px 10px;
    /* -webkit-appearance: none; */
}

select:focus{
    outline: none;
}
.button{
    background-color: #fff;
    color: #0779e4;
}
.button:hover{
    background-color: #0779e4;
    color: #fff;
}
.btn-primary{
    background-color: #0779e4;
}
.danger{
    background-color: #fff;
    color: #e20404;
    border: 1px solid #ddd;
}
.danger:hover{
    background-color: #e20404;
    color: #fff;
}
@media(max-width:576px){
    .wrapper{
        padding: 25px 20px;
    }
    #deactivate{
        line-height: 18px;
    }
}
    </style>

   <div class="wrapper bg-white mt-sm-5">
    <h4 class="pb-4 border-bottom">Account settings</h4>
    <form action="" method="post">
        {% csrf_token %}
    <div class="py-2">
        <div class="row py-2">
            <div class="col-md-6">
                <label for="firstname" >First Name</label>
                <input type="text"  name="first_name"  class="bg-light form-control" value={{request.user.first_name}}>
            </div>
            <div class="col-md-6 pt-md-0 pt-3">
                <label for="lastname"></label>
                <input type="text"  name ="last_name" class="bg-light form-control" value={{request.user.last_name}} >
            </div>
        </div>
      
        <div class="row py-2">
            <div class="col-md-6">
                <label for="email">Username</label>
                <input type="text" name="username" class="bg-light form-control" placeholder="" value={{request.user.username}}>
            </div>
            <div class="col-md-6 pt-md-0 pt-3">
                <label for="phone">Email Address</label>
                <input type="email" name="email" class="bg-light form-control" placeholder="steve_@email.com" value='{{request.user.email}}'>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-md-6">
                <label for="country">Last Login:{{request.user.last_login}}</label>
                
            </div>
            <div class="col-md-6 pt-md-0 pt-3" id="lang">
                <label for="language">Joined Date{{request.user.date_joined}}</label>
                
            </div>
        </div>
        <div class="py-3 pb-4 border-bottom">
            <button type="submit" class="btn btn-primary mr-3">Save Changes</button>
            
        </div>
        
    </div>
    </form>
</div>
{% endblock content %}